# Large Model Weights
ai_models/detect/train/weights/best_shot.pt
ai_models/detect/train/weights/best.pt
ai_models/detect/train/weights/last.pt
ai_models/detect/train/weights/pitch.pt

# Python Virtual Environment
venv/
.venv/
env/
scripts/

# Uploaded Media and Debug
shared/uploads/
shared/debug_images/
Web/model_data/
ai/models/*.onnx
ai/models/*.pt
ai/models/*.keras

# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# OS/IDE Files
.DS_Store
.vscode/
.idea/
*.log
dist/
build/